body {
  background: #fff;
  color: #484848;
  font-family: Helvetica, sans-serif;
  font-size: 3vw;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


.outer {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.inner {
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  min-height: 24em;
}

.logo {
  flex: 1 100%;
}

.logo svg {
  display: block;
  margin: auto;
  width: 80%;
}

.description {
  flex: 1 100%;
  font-size: 3.2vw;
  text-align: center;
}

.contact {
  flex: 1 50%;
  text-align: right;
}

.social {
  flex: 1 50%;
}

/* Desktop */
@media (min-width: 1025px) {
  .inner {
    min-height: 0em;
  }

  .logo {
    flex: 1 40%;
  }

  .logo svg {
      width: 60%;
  }

  .description {
    flex: 1 100%;
    order: 4;
  }

  .contact,
  .social {
    font-size: 2vw;
  }

  .contact {
    flex: 1 26%;
  }

  .social {
    flex: 1 34%;
  }
}
